/* index.css */

/* Font mặc định cho toàn bộ ứng dụng */
/* body,
html,
#root {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* Font cho code */
/* code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

/* Font cho các component Ant Design */
/* .ant-btn,
.ant-input,
.ant-input-number,
.ant-select-selector,
.ant-form-item-label > label,
.ant-modal-title,
.ant-checkbox-wrapper,
.ant-radio-wrapper,
.ant-table {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif !important;
} */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-ser;
}
body {
  background: rgb(247, 246, 246);
}
