server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/quanlyphongtro
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
    port: 6379

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 50MB


application:
  fe:
    origin: "http://localhost:3000"

jwt:
  signerKey: "1TjXchw5FloESb63Kc+DFhTARvpWL4jUGCwfGWxuG5SIf/1y/LgJxHnMqaF6A/ij"
  access-token-expiration: 3600
  refresh-token-expiration: 604800

  redis:
    host: localhost
    port: 6379
    # password: yourpassword (nếu có)
    timeout: 60000

cloudinary:
  cloud_name: dcnaojwwx
  api_key: 155654598724771
  api_secret: 2WOG6V46EaduCCnWAJmdfmy70Fo
